.not_found_page_title {
  text-align: center;
  font-size: 150px;
  margin: 100px 0;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.not_found_page_link {
  text-align: center;
  margin-bottom: 30px;
}

.not_found_page_text {
  text-align: center;
  color: crimson;

  span {
    font-weight: bold;
    color: crimson;
  }
}



.title {
  // color: #27272a;
  text-align: center;
  margin: 30px 0;
}

.product_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 100px;
  gap: 30px;
}

.link {
  text-decoration: none;
}

.product_item {
  // color: #27272a;
  width: 300px;
  height: 300px;
  // background-color: #4338ca;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all ease-in-out .15s;
  // color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  backdrop-filter: blur(6px);

  p, h3 {
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px;
    border-radius: 5px;
  }

  &:hover {
    // color: black;
    // background-color: #a5b4fc;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    backdrop-filter: blur(0);
  }
}

.star {
  width: 20px;
  height: 20px;
  border: none;
}
.notGold {
  filter: invert(.5);
}



.product {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 7.5%;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  div {
    margin-top: 30px;
    height: 20px;
    img {
      height: 20px;
    }
  }
  img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 300px;
    align-self: center;
    justify-self: center;
  }

  .link_product {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}